<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 pb-16">
  <div class="card rounded-b-lg shadow-md">
    <img src="https://images.unsplash.com/photo-1596559058872-595ea5281b7b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="girl playing paddel" class="w-full object-cover rounded-t-lg">
    <div class="py-4 px-4">
      <h2 class="text-2xl font-bold">Presentamos la nueva cancha de paddel</h2>
      <p class="text-lg text-gray-500 leading-snug pt-4 pb-4"> En el dia de ayer presentamos la ultima cnacha de padel con la ultima tecnologia del pais</p>
    </div>
  </div>
  <div class="card rounded-b-lg shadow-md">
    <img src="https://images.unsplash.com/photo-1526888935184-a82d2a4b7e67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80" alt="girl playing paddel" class="w-full object-cover rounded-t-lg">
    <div class="py-4 px-4">
      <h2 class="text-2xl font-bold">Presentamos la nueva cancha de paddel</h2>
      <p class="text-lg text-gray-500 leading-snug pt-4 pb-4"> En el dia de ayer presentamos la ultima cnacha de padel con la ultima tecnologia del pais</p>
    </div>
  </div>
  <div class="card rounded-b-lg shadow-md">
    <img src="https://images.unsplash.com/photo-1596559058872-595ea5281b7b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="girl playing paddel" class="w-full object-cover rounded-t-lg">
    <div class="py-4 px-4">
      <h2 class="text-2xl font-bold">Presentamos la nueva cancha de paddel</h2>
      <p class="text-lg text-gray-500 leading-snug pt-4 pb-4"> En el dia de ayer presentamos la ultima cnacha de padel con la ultima tecnologia del pais</p>
    </div>
  </div>
</div>
