<h2 class="py-16 md:py-24 lg:py-32 font-bold text-center text-3xl md:text-4xl lg:text-5xl">Contacto</h2>
<div class="flex justify-center">
  <div>
    <div class="hidden md:block">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3333.6603282096908!2d-60.22748258462818!3d-33.327694598609014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b767ed2939937b%3A0x28db449e7b5ef9d!2sMelchora%20SRL!5e0!3m2!1ses-419!2sar!4v1620947535565!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="md:hidden">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3333.6603282096908!2d-60.22748258462818!3d-33.327694598609014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b767ed2939937b%3A0x28db449e7b5ef9d!2sMelchora%20SRL!5e0!3m2!1ses-419!2sar!4v1620947535565!5m2!1ses-419!2sar" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class=" text-center pt-8">
      <p class="py-4">9 de Julio 282 - San Nicolás de los Arroyos <br> Argentina</p>
      <div class="flex justify-center text-left">
        <div class="text-gray-500">
          <p><i class="pb-4 fas fa-envelope text-xl mr-2"></i> melchora@gmail.com</p>
          <p><i class="pb-4 fas fa-phone text-xl mr-2"></i> 381-260-4510</p>
          <p><i class="fab fa-whatsapp-square text-2xl mr-2"></i>3483483948394s</p>
        </div>
      </div>
    </div>
    <div class="text-center py-16 ">
      <%= link_to "Enviar mensaje", new_contact_path, class: " px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 md:py-4 md:text-lg md:px-10" %>
    </div>
  </div>
</div>


