<h2 class="py-16 md:py-24 lg:py-32 font-bold text-center text-3xl md:text-4xl lg:text-5xl">Contacto</h2>
<div class="flex justify-center">
  <div class="map">
    <div id="map"
    style="width: 100%; height: 450px;"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    <br>
    <p> <i class="fas fa-map-marker-alt"></i>&nbsp; Santiago 351 - San Miguel de Tucumán - Argentina</p>
    <p><i class="fas fa-envelope"></i> iconoinstituto.contacto@gmail.com</p>
    <p><i class="fas fa-phone"></i> 381-260-4510</p>
  </div>
</div>


