<% if notice %>
<div class="bg-indigo-600 px-3 py-2 text-white font-bold flex flex-wrap justify-between items-center" role="alert">
  <div class="invisible">
    <p></p>
  </div>
  <%= notice %>
  <button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
    <span class="sr-only">Dismiss</span>
    <!-- Heroicon name: outline/x -->
    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</div>
<% end %>
<% if alert %>
<div class="bg-white border-red px-3 py-2 text-red-500 font-bold flex flex-wrap justify-between items-center" role="alert">
  <div class="invisible">
    <p>g</p>
  </div>
  <%= alert %>
  <button type="button" class="-mr-1 flex p-2 rounded-md hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-white sm:-mr-2">
    <span class="sr-only">Dismiss</span>
    <!-- Heroicon name: outline/x -->
    <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</div>
<% end %>

