<div class="bg-cover" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('https://images.unsplash.com/photo-1612534847738-b3af9bc31f0c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80')">
  <div class="grid grid-cols-1 md:grid-cols-2 h-screen">
    <div class="flex flex-wrap justify-center content-center">
      <div class="py-16 lg:py-8 px-8 text-center lg:text-left">
        <h1 class="text-4xl tracking-tight font-extrabold text-indigo-700 sm:text-5xl md:text-6xl">
          Melchora paddel
        </h1>
        <p class="mt-3 text-base text-white sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
          Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
        </p>
        <div class="mt-12">
          <a href="#" class="px-20 py-4 bg-indigo-600 text-white rounded-lg font-bold">
            Sobre Nosotros
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
