<div class="bg-gray-300 px-24 flex flex-wrap justify-around py-24">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619561076/upad-logo-black-500-300_yrfuj3.png" alt="" width="200px" height="200px">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619561114/padelprint-partner-diamant_sk6uu9.png" alt="" width="200px" height="200px">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619561180/adidas-site_dqzkd2.png" alt="" width="200px" height="200px">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619561076/upad-logo-black-500-300_yrfuj3.png" alt="" width="200px" height="200px">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619561114/padelprint-partner-diamant_sk6uu9.png" alt="" width="200px" height="200px">
  <img src="https://res.cloudinary.com/dye9yotct/image/upload/v1619561180/adidas-site_dqzkd2.png" alt="" width="200px" height="200px">
</div>
