<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-2 sm:px-6 lg:px-8">
  <div class="max-w-screen-lg w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-4xl font-extrabold text-gray-900">
        Editar Noticia
      </h2>
    </div>
    <%= render 'form' %>
  </div>
</div>
